body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
  margin: 0;
  height: 100%;
}

header {
  grid-area: header;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightcoral;
  position: sticky;
  top: 0;
  font-size: 20px;
  color: white;
}
aside {
  grid-area: aside;
  height: 50px;
  display: block;
  text-align: center;
  align-content: center;
  position: sticky;
  top: 50px;
  background-color: lightgrey;
}
.button {
  padding: 5px 50px 5px 50px;
}
ul {
  display: none;
}

main {
  grid-area: main;
  display: grid;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: footer;
  display: block;
  align-items: center;
  background-color: lightcoral;
  color: white;
  position: sticky;
  bottom: 0;
}
.paginas {
  display: flex;
  height: 50px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  text-decoration: none;
}
.redes {
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: lightcoral;
}

/*cards*/
.card {
  width: 225px;
  height: 300px;
  border: solid 2px lightcoral;
  box-shadow: 5px 5px 5px lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.card > img {
  width: 225px;
}
.card > button {
  border: none;
  padding: 5px 25px;
  background-color: lightcoral;
  color: white;
  margin: 5px;
}

.menudesplegable2 {
  display: none;
}

/*Medias Queries*/

@media screen and (min-width: 576px) {
  body {
    grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
    grid-template-columns: 1fr 5fr;
  }
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  aside {
    display: flex;
    height: 80vh;
    text-align: start;
    align-content: start;
  }
  .menu {
    display: none;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .card {
      width: 150px;
      height: 200px;
    }
    .card > img {
      width: 100px;
    }
  }
  .menudesplegable {
    display: none;
  }
  .menudesplegable2 {
    display: block;
    text-align: center;
    align-content: center;
    padding-top: 30px;
  }
  ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
  }
  li {
    padding: 5px 30px;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
  footer {
    position: sticky;
    bottom: 0;
  }
}
@media screen and (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer {
    position: sticky;
    bottom: 0;
  }
}
@media screen and (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
